<h1>Users</h1>



  <% @users.each do |users| %>
    <%= users.name %>
    <%= users.email %>
    <%= users.password %>
    <a href="/edit_user/<%= info.id %>">Edit</a>
    <a href="/delete_user/<%= users.id %>">Delete</a>
  <% end %>
