<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Application</title>
</head>

<body>

  <% @users.each do |users| %>
    <%= users.name %>
    <%= users.email %>
    <%= users.password %>
    <a href="/edit_user/<%= info.id %>">Edit</a>
    <a href="/delete_user/<%= users.id %>">Delete</a>
  <% end %>
</body>
</html>