<h1>To-Dos</h1>
  
<% @todos.each do |todos| %>
  
  <p>
  Title:
  <%= todos.title %><br>
  Description:
  <%= todos.description %><br>
  Completed:
  <%= todos.completed %><br>
  User:
  <%= todos.user_id %><br>
  <a href="/edit_todos/<%= todos.id %>">Edit</a>
  <a href="/delete_todos/<%= todos.id %>">Delete</a>
  </p>
<% end %>

<p><h3><a href="/todos/new">Create a to do</a></h3></p>

<p><a href="/logins/delete">Log out</a></p>